.page.success {
  .content-scrollable {
    background: #fff;
  }
  em {
    font-style: normal;
    color: #ff5635;
  }
  .weui-btn-area {
    .weui-btn_primary {
      border: 1px solid #f2f2f2;
      background: none;
      color: #999;
      border-radius: 10rem;
      font-size: 0.13rem;
    }
  }
}