.notes {
  display: flex;
  align-items: center;
  margin: 0 0.3rem;
  padding: 0.05rem 0.1rem;
  background: #c7d0ff;
  font-size: 0.12rem;
  line-height: 0.22rem;
  border-radius: 0.06rem;
  color: #fff;
  .hd {

  }
  .bd {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 0.1rem;
  }
  .ft {
    text-align: right;
  }
}