<div class="cpt-profit">
    <div class="profit-title"><img src="views/include/profit/profit-title.png"></div>
    <ul class="profit-lists pure-g">
        <li class="profit-item pure-u-1-2">
            <a class="profit-item-box" href="http://app.yfq.cn/">
                <img src="views/include/profit/profit-1.png">
            </a>
        </li>
        <li class="profit-item pure-u-1-2">
            <div class="profit-item-box" ui-sref="sign" ng-show="state.name === 'follow'">
                <img src="views/include/profit/profit-2.png">
            </div>
            <div class="profit-item-box" ui-sref="follow" ng-show="state.name === 'sign'">
                <img src="views/include/profit/profit-6.png">
            </div>
        </li>
        <li class="profit-item pure-u-1-2">
            <div class="profit-item-box" ui-sref="follow">
                <img src="views/include/profit/profit-3.png">
            </div>
        </li>
        <li class="profit-item pure-u-1-2">
            <div class="profit-item-box" ui-sref="invite">
                <img src="views/include/profit/profit-4.png">
            </div>
        </li>
        <li class="profit-item pure-u-1" style="margin-top: 0.2rem">
            <a class="profit-item-box" href="https://creditcard.cmbc.com.cn/wsv2/?etr=uUevXVkit0/wC5IO72ddi4GaST/otI9J3O4GJm/50Y9BEn8mR9ylT+d3HXrgHI4tKsos5w/RZh0HpFuB5kyi1NRuvUYe3UAiO7o0qNed8VL/svH2N6nn33iPT1NlneWCP2iKQiHysVEpStLpFQ22fg5OVNYPhkMlYxIHvCCiLpsS6x9s4fLnMRffaOT7BOz+KDYBHFTfgJnx4z6B7bgvD40eDeId/cFjCGV4FaUZ/HRCyeWxoU+0PLIFO74iNX7W7D63rHAVZDU42RvPVIFLT5j2YZOj9e9Raj6QM6ChQS74KnsC/4pN8k5+OssexJwWAQ76hryCDX4D76ILQ9RFhyP1n4rGJRpQoh2DySks03HgiyM5X5g94rje2vuuxnqnbYmq2k4RXtgN7CDCh+A0uX4MX5vu1qW6ywP5uqLlm6IeJe59Jkjw9P5UOaw3/kdu36LpQQW4+XC9phRSN510+oQTNxygiMhpal4D4iKjiYRTdWyJTah2wpomecQl7j4/">
                <img src="views/include/profit/profit-5.png">
            </a>
        </li>
    </ul>
</div>