<div class="cpt-profit">
    <div class="profit-title"><img src="views/include/profit/profit-title.png"></div>
    <ul class="profit-lists pure-g">
        <li class="profit-item pure-u-1-2">
            <div class="profit-item-box">
                <img src="views/include/profit/profit-1.png">
            </div>
        </li>
        <li class="profit-item pure-u-1-2">
            <div class="profit-item-box">
                <img src="views/include/profit/profit-2.png">
            </div>
        </li>
        <li class="profit-item pure-u-1-2">
            <div class="profit-item-box">
                <img src="views/include/profit/profit-3.png">
            </div>
        </li>
        <li class="profit-item pure-u-1-2">
            <div class="profit-item-box">
                <img src="views/include/profit/profit-4.png">
            </div>
        </li>
    </ul>
</div>