.page.seckill {
  .content-scrollable {
    background-image: url(views/activity/seckill/seckill-bg.png), linear-gradient(to bottom, #fa4e4e, #e03150 100%);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  h1.title {
    width: 85%;
    margin: 0.25rem auto 0.2rem;
    img {
      display: block;
      width: 100%;
    }
  }
  .notes {
    background: #ff949b;
    box-shadow: 0 4px 10px rgba(166, 9, 31, 0.3);
  }
  .product {
    margin: 0.1rem 0.15rem;
    background: #fff;
    box-shadow: 0 9px 16px rgba(166, 9, 31, 0.54);
    position: relative;
    .content-overlay {
      background: rgba(0, 0, 0, 0.8);
      .txt {
        padding: 0 0.2rem;
        color: #fff;
        border: 1px solid #fff;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
      }
    }
    .product-box {
      padding: 0.1rem;
      display: flex;
      .hd {
        img {
          height: 1rem;
          max-width: 1rem;
          display: block;
          margin-right: 0.1rem;
        }
      }
      .bd {
        flex: 1;
        .tit {
          font-size: 0.15rem;
          line-height: 1.5;
        }
        .old-price {
          font-size: 0.14rem;
          color: #999;
          line-height: 1;
          margin-top: 0.2rem;
        }
        .new-price {
          font-size: 0.14rem;
          span, em {
            display: inline-block;
            vertical-align: baseline;
          }
          .price {
            color: #cf2129;
            span {
              font-size: 0.14rem;
              line-height: 1;
            }
            em {
              font-style: normal;
              font-size: 0.18rem;
              line-height: 1;
            }
          }
          .store {
            text-align: right;
            margin-top: 0.04rem;
            font-size: 0.14rem;
            line-height: 1;
          }
        }
      }
    }
  }
  .btn-wrap {
    margin-top: 0.3rem;
    background: #ff8400;
    box-shadow: 0px 9px 16px rgba(166, 17, 32, 0.54);
    .btn {
      background: #ffe400;
      color: #ed3f4f;
    }
  }
  .countdown {
    text-align: center;
    font-size: 0.14rem;
    color: #fff;
    .label, .timer {
      display: inline-block;
      vertical-align: middle;
    }
    .timer {
      i {
        font-style: normal;
        color: #ffe400;
      }
      sub {
        position: static;
        font-size: 0.14rem;
      }
    }
  }

  .next-panel {
    padding: 0 0.07rem;
    .next-lists {
      .next-item {
        &:first-child {
          .dot{
            &:before {
              display: none;
            }
          }
        }
        &:last-child {
          .dot{
            &:after {
              display: none;
            }
          }
        }
        .dot {
          position: relative;
          height: 0.08rem;
          margin: 0.15rem 0;
          ins {
            width: 0.08rem;
            height: 0.08rem;
            display: block;
            border-radius: 5rem;
            background: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
          }
          &:before {
            content: '';
            position: absolute;
            width: 50%;
            height: 1px;
            background: #fff;
            left: 0;
            top: 50%;
            transform: translate3d(0, -50%, 0);
          }
          &:after {
            content: '';
            position: absolute;
            width: 50%;
            height: 1px;
            background: #fff;
            right: 0;
            top: 50%;
            transform: translate3d(0, -50%, 0);
          }
        }
        .btn-wrap {
          width: auto;
          display: block;
          margin: 0.1rem 0.07rem;
          &.checked {
            background: #aaaaaa;
            .btn {
              background: #d8d8d8;
            }
          }
        }
      }
    }
  }
  .rule-list .rule-txt dt {
    margin-top: 0;
  }
}