<div class="page market flow list">
    <top-nav nav-item='{"visibility":true,"leftItem":"logo","rightItem":"watch","class":"","title":"手机充值"}'></top-nav>
    <div class="content-scrollable has-nav has-footer" content-scrollable-scrolled
         style="padding-top:0.45rem;background: #f0eff5">
        <form id="salesForm" name="salesForm">
            <input name="product" id="product" ng-model="product.productId" value="{{product.productId}}" type="hidden">

            <!--<div class="owl-carousel" img-urls="['/images/flow/top-1.jpg','/images/flow/top-2.jpg']"></div>-->
            <div class="img-box">
                <img src="views/activity/recharge/banner.jpg">
            </div>

            <div id="rechargeNo" class="weui-cells" ng-class="{true:'active',false:''}[!!mobile]">
                <div class="weui-cell" style="padding-bottom: 0;padding-top: 0.15rem">
                    <div class="weui-cell__bd">
                        <input id="mobile" ng-model="mobile" name="mobile" ng-blur="inputMobile(mobile)"
                               ng-pattern="/^(((13[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/" pattern="/^(((13[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/" ng-minlength="11" ng-maxlength="11"
                               class="weui-input"
                               placeholder="请输入需要充值的手机号码" type="hidden" required/>

                        <input id="mobileView" ng-model="mobileView"
                               name="mobileView"
                               ng-pattern="/^[0-9 ]*$/" pattern="[0-9 ]*"
                               ng-blur="inputMobile(mobile)"
                               class="weui-input"
                               placeholder="请在此输入手机号码" required/>

                    </div>
                    <div class="weui-cell__ft">
                        <span ng-bind="flowList.area_operator"></span>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <span style="display: block;height: 0.12rem;line-height: 0.12rem;font-size: 0.12rem">
                            <span ng-if="(mobile.length == 11 && !mobileValid) || (isSubmit && !mobileValid)">请输入11位正确手机号码</span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="product-tabs">
                <div class="pure-g">
                    <div class="pure-u-1-2">
                        <div ng-class="{true:'curr',false:''}[productType === 'flow']" ng-click="setProductType('flow')"
                             class="tab-item" user-tracker="flow">
                            流量特惠<span class="weui-badge" style="background: #ff5635;margin-left: 5px;">买一送一</span>
                        </div>
                    </div>
                    <div class="pure-u-1-2">
                        <div ng-class="{true:'curr',false:''}[productType === 'fee']" ng-click="setProductType('fee')"
                             class="tab-item" user-tracker="fee">
                            话费充值
                        </div>
                    </div>
                </div>
            </div>

            <div id="flowList" ng-show="productType === 'flow'" style="padding: 0.1rem 0px 0rem 0px;">

                <div class="item-lists pure-g pdw">
                    <div class="list-item pure-u-1-3" ng-repeat="item in flowList.data | limitTo : flowLimitTo"
                         ng-show="item.stock">
                        <div class="item-box" ng-click="selectedFlowProd(item.stock,item,true,$event);"
                             ng-class="{true:'active',false:''}[item === flowProduct]" user-tracker="selectedFlowProd">
                            <div class="title" ng-bind="item.productName"></div>
                            <div class="disc"><span ng-bind="item.regionProducts | flowSalesPrice | number : 2"></span>元
                            </div>
                            <ins class="hot" ng-if="item.ifHot == 1"><img style="display: block;width: 0.3rem"
                                                                          src="views/activity/recharge/hot.png"></ins>
                            <span class="flag"
                                  ng-if="item.sortNo >= 100 && couponList.length > 0 && item.ifHot != 1">优惠</span>
                        </div>
                    </div>
                    <div class="list-item pure-u-1-3">
                        <div class="item-box" ng-click="getFlowMore();" ng-show="flowLimitTo === 5"
                             user-tracker="moreFlow">
                            <div class="title">更多流量包</div>
                        </div>
                        <div class="item-box" ng-click="getFlowLess();" ng-show="flowLimitTo === 100"
                             user-tracker="lessFlow">
                            <div class="title">收起</div>
                        </div>
                    </div>
                </div>

                <p class="weui-cells__tips"><span>即时生效，月底过期</span></p>

                <div class="sun-prod weui-cells">
                    <div ng-click="buyFlowProd(item,$event)"
                         ng-class="{true:'curr',false:''}[item === regionFlowProduct]" class="weui-cell"
                         ng-repeat="item in flowProduct.regionProducts" user-tracker="buyFlowProd">
                        <div class="weui-cell__hd"><span class="flag" ng-bind="item.regionName"></span></div>
                        <div class="weui-cell__bd">
                            <p style="position: relative">
                                <span>{{(item.salesPrice - couponLength) | number : 2}}元</span>
                                <del>{{item.costPrice | number : 2}} 元</del>
                            </p>
                            <p ng-if="flowCouponLength > 0" class="weui-media-box__desc">
                                使用了<em ng-bind="flowCouponLength"></em>张优惠券，为您省了<em
                                    ng-bind="flowCouponLength | number : 2"></em>元
                            </p>
                        </div>
                        <div class="weui-cell__ft">
                            ￥{{(item.salesPrice - flowCouponLength) | number : 2}}
                        </div>
                    </div>
                </div>

                <p style="font-size: 0.12rem;padding-left: 0.15rem;margin-top: 0.1rem">
                    <span ng-click="dialog.open({
                    show: true,
                    title: '优惠券使用说明',
                    body: '<p>1、充值流量包即可获得支付金额同等金额的优惠券（按实际支付金额向下取整，单笔最多获得30元优惠券，优惠券抵扣的部分不参与）</p><p>2、优惠券可用于下次充值，适用于话费及流量，请在有效期内使用。</p>',
                    buttons: [{show: true, txt: '我知道了', eventId: 'hello'}]
                    })"
                          class="disc-content"
                          style="margin-right: 20px;cursor: pointer" user-tracker="couponInfo">
                        <img src="views/activity/recharge/icon-coupon.png"
                             style="height:0.14rem;width:auto;display: inline-block;vertical-align: middle">
                        <span style="display: inline-block;vertical-align: middle">赠</span>
                        <span style="display: inline-block;vertical-align: middle"
                              ng-bind="regionFlowProduct.salesPrice - flowCouponLength | flowCoupon"></span>
                        <span style="display: inline-block;vertical-align: middle">元优惠券</span>
                        <img src="views/activity/recharge/what.png"
                             style="display: inline-block;vertical-align: middle;width: 0.16rem">
                    </span>
                </p>

                <a href="javascript:;" ng-class="{true:'',false:'disabled'}[!!flowProduct]"
                   ng-click="pay(mobileValid,flowProduct,regionFlowProduct,flowCoupons)"
                   style="background: #4892ff;margin: 0.07rem 0.15rem 0.45rem 0.15rem;" class="weui-btn weui-btn_warn"
                   data-a="{{!!flowProduct}}" user-tracker="recharge">立即充值</a>
            </div>


            <div id="feeList" ng-show="productType === 'fee'" style="padding: 0.1rem 0px 0rem 0px;">

                <div class="item-lists pure-g pdw">
                    <div class="list-item pure-u-1-3" ng-repeat="item in feeList.data | limitTo : feeLimitTo"
                         ng-show="item.stock">
                        <div class="item-box" ng-click="selectedFeeProd(item.stock,item,true,$event);"
                             ng-class="{true:'active',false:''}[item === feeProduct]" user-tracker="selectedFeeProd">
                            <div class="title" ng-bind="item.productName"></div>
                            <div class="disc"><span ng-bind="item.regionProducts | flowSalesPrice | number : 2"></span>元
                            </div>
                            <ins class="hot" ng-if="item.ifHot == 1"><img style="display: block;width: 0.3rem"
                                                                          src="views/activity/recharge/hot.png"></ins>
                            <span class="flag"
                                  ng-if="item.sortNo >= 50 && couponList.length > 0 && item.ifHot != 1">优惠</span>
                        </div>
                    </div>
                    <div class="list-item pure-u-1-3">
                        <div class="item-box" ng-click="getFeeMore();" ng-show="feeLimitTo === 5"
                             user-tracker="moreFee">
                            <div class="title">更多套餐</div>
                            <!--<div class="disc"><span ng-bind="item.regionProducts | flowSalesPrice | number : 2"></span>元</div>-->
                        </div>
                        <div class="item-box" ng-click="getFeeLess();" ng-show="feeLimitTo === 100"
                             user-tracker="lessFee">
                            <div class="title">收起</div>
                            <!--<div class="disc"><span ng-bind="item.regionProducts | flowSalesPrice | number : 2"></span>元</div>-->
                        </div>
                    </div>
                </div>

                <div class="sun-prod weui-cells">
                    <div class="weui-cell" ng-class="{true:'curr',false:''}[item === regionFeeProduct]"
                         ng-repeat="item in feeProduct.regionProducts">
                        <div class="weui-cell__bd">
                            <p style="position: relative"><span>{{item.salesPrice | number : 2}}元</span>
                                <del ng-if="item.salesPrice <= item.costPrice">{{item.costPrice | number : 2}} 元</del>
                            </p>
                            <p ng-if="feeCouponLength > 0" class="weui-media-box__desc">使用了<em
                                    ng-bind="feeCouponLength"></em>张优惠券，为您省了<em
                                    ng-bind="feeCouponLength | number : 2"></em>元</p>
                        </div>
                        <div class="weui-cell__ft">
                            ￥{{(item.salesPrice - feeCouponLength) | number : 2}}
                        </div>
                    </div>
                </div>

                <p style="font-size: 0.12rem;padding-left: 0.15rem;margin-top: 0.1rem"
                   ng-if="regionFeeProduct.costPrice >= 50">
                    <span ng-click="dialog.open({
                    show: true,
                    title: '优惠券使用说明',
                    body: '<p> 1、话费充值面值50元送5元优惠券，面额100元送10元优惠券，多充多送（最多30元）</p><p>2、优惠券可用于下次充值，适用于话费及流量，请在有效期内使用。</p>',
                    buttons: [{show: true, txt: '我知道了', eventId: 'hello'}]
                    })"
                          class="disc-content"
                          style="margin-right: 20px;cursor: pointer" user-tracker="couponInfo">
                        <img src="views/activity/recharge/icon-coupon.png"
                             style="height:0.14rem;width:auto;display: inline-block;vertical-align: middle">
                        <span style="display: inline-block;vertical-align: middle">赠</span>
                        <span style="display: inline-block;vertical-align: middle"
                              ng-bind="regionFeeProduct.costPrice | feeCoupon : 30"></span>
                        <span style="display: inline-block;vertical-align: middle">元优惠券</span>
                        <img src="views/activity/recharge/what.png"
                             style="display: inline-block;vertical-align: middle;width: 0.16rem;">
                    </span>
                </p>

                <a href="javascript:;" ng-class="{true:'',false:'disabled'}[!!feeProduct]"
                   ng-click="pay(mobileValid,feeProduct,regionFeeProduct,feeCoupons)"
                   style="background: #4892ff;margin: 0.07rem 0.15rem 0.45rem 0.15rem;" class="weui-btn weui-btn_warn"
                   user-tracker="recharge">立即充值</a>
            </div>

        </form>
    </div>
    <div class="weui-tabbar" ng-include="'views/include/footerNav/footerNav.html'"></div>
    <app-footer-nav page-active="recharge"></app-footer-nav>
    <app-dialog></app-dialog>
</div>

<div id="paySuccess" style="display: none;">
    <div class="overlay flow-overlay">
        <a href="javascript:;" ng-click="state.overlay.open(false)" class="js-close-overlay overlay-dismiss"><span
                class="icon-cross"></span></a>

        <div class="wrapper-heading" style="top: 30%;">
            <div class="weui-msg__icon-area" style="margin-bottom: 0.1rem"><i
                    class="weui-icon-success weui-icon_msg"></i></div>
            <div class="subtitle-overlay">支付成功</div>
            <div class="subtitle-overlay" style="margin-top: 0.2rem">手机充值</div>
            <div class="title-overlay" style="font-weight: normal"><span style="font-size: 50%">￥</span>99.80</div>
        </div>

        <a href="javascript:;" class="js-signin btn-twitter" style="background: #09BB07"
           ng-click="state.overlay.open(false)">我知道了</a>
    </div>
</div>