<div class="page watch">
    <top-nav
            nav-item='{"visibility":false,"menu":false,"back":true,"share":false,"comment":false,"class":"black","title":"关注公众号"}'></top-nav>
    <div class="content-scrollable">
        <div class="weui-msg" style="margin-top: 0.5rem">
            <div class="weui-msg__icon-area"><img class="weui-icon_msg" style="width: 60%" src="views/msg/watch/qr-code.jpg"></div>
            <div class="weui-msg__text-area">
                <p class="weui-msg__desc">扫我，关注 "365领流量" 公众号</p>
            </div>
            <div class="weui-msg__extra-area">
                <div class="weui-footer">
                    <p class="weui-footer__links">
                        <a href="javascript:;" class="weui-footer__link">微信公众号：365领流量</a>
                    </p>
                    <p class="weui-footer__text">Copyright &copy; 2008-2017</p>
                </div>
            </div>
        </div>
    </div>
</div>