<a href="http://app.yfq.cn?appType=365flow" class="weui-tabbar__item" ui-sref-active="weui-bar__item_on">
    <span style="display: inline-block;position: relative;">
        <img src="views/include/footerNav/mall.png" alt="" class="weui-tabbar__icon">
        <img src="views/include/footerNav/mall_curr.png" alt="" class="curr weui-tabbar__icon">
        <!--<span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>-->
    </span>
    <p class="weui-tabbar__label">商城</p>
</a>
<a ui-sref="sign" class="weui-tabbar__item" ui-sref-active="weui-bar__item_on">
    <img src="views/include/footerNav/sign.png" alt="" class="weui-tabbar__icon">
    <img src="views/include/footerNav/sign_curr.png" alt="" class="curr weui-tabbar__icon">
    <p class="weui-tabbar__label">签到</p>
</a>
<a ui-sref="follow" class="weui-tabbar__item" ui-sref-active="weui-bar__item_on">
    <span style="display: inline-block;position: relative;">
        <img src="views/include/footerNav/turntable.png" alt="" class="weui-tabbar__icon">
        <img src="views/include/footerNav/turntable_curr.png" alt="" class="curr weui-tabbar__icon">
        <!--<span class="weui-badge weui-badge_dot" style="position: absolute;top: 0;right: -6px;"></span>-->
    </span>
    <p class="weui-tabbar__label">抽奖</p>
</a>
<a ui-sref="recharge" class="weui-tabbar__item" ui-sref-active="weui-bar__item_on">
    <img src="views/include/footerNav/recharge.png" alt="" class="weui-tabbar__icon">
    <img src="views/include/footerNav/recharge_curr.png" alt="" class="curr weui-tabbar__icon">
    <p class="weui-tabbar__label">充值</p>
</a>
<a ui-sref="home" class="weui-tabbar__item" ui-sref-active="weui-bar__item_on">
    <img src="views/include/footerNav/me.png" alt="" class="weui-tabbar__icon">
    <img src="views/include/footerNav/me_curr.png" alt="" class="curr weui-tabbar__icon">
    <p class="weui-tabbar__label">我的</p>
</a>
