<div class="page follow">
    <top-nav
            nav-item='{"visibility":false,"menu":false,"back":true,"share":false,"comment":false,"class":"black","title":"关注有礼"}'></top-nav>
    <div class="content-scrollable">
        <h1 class="title"><img src="views/follow/title.png"></h1>
        <div class="notes">
            <div class="hd">
                <img style="width: 0.22rem;margin-right: 0.1rem;display: block" src="views/follow/volume-up.png">
            </div>
            <div class="bd">恭喜135****5689用户，获得了500MB流量！</div>
            <div class="ft"></div>
        </div>
        <div class="roulette">
            <div class="roulette-box">
                <ul class="roulette-lists pure-g">
                    <li class="roulette-item pure-u-1-3">
                        <div id="roulette-0" class="roulette-0 roulette-item-box">
                            <div class="roulette-item-content">
                                <div class="img">
                                    <img src="views/follow/200M.png">
                                </div>
                                <div class="title">200MB流量</div>
                            </div>
                        </div>
                    </li>
                    <li class="roulette-item pure-u-1-3">
                        <div id="roulette-1" class="roulette-1 roulette-item-box">
                            <div class="roulette-item-content">
                                <div class="img">
                                    <img src="views/follow/500M.png">
                                </div>
                                <div class="title">500MB流量</div>
                            </div>
                        </div>
                    </li>
                    <li class="roulette-item pure-u-1-3">
                        <div id="roulette-2" class="roulette-2 roulette-item-box">
                            <div class="roulette-item-content">
                                <div class="img">
                                    <img src="views/follow/1G.png">
                                </div>
                                <div class="title">1GB流量</div>
                            </div>
                        </div>
                    </li>
                    <li class="roulette-item pure-u-1-3">
                        <div id="roulette-7" class="roulette-3 roulette-item-box">
                            <div class="roulette-item-content">
                                <div class="img">
                                    <img src="views/follow/1G.png">
                                </div>
                                <div class="title">1GB流量</div>
                            </div>
                        </div>
                    </li>
                    <li class="roulette-item pure-u-1-3">
                        <div id="roulette-8" class="roulette-8 roulette-item-box">
                            <div class="roulette-item-content">
                                <div class="txt-start" ng-click="start()">立即<br>抽奖</div>
                            </div>
                        </div>
                    </li>
                    <li class="roulette-item pure-u-1-3">
                        <div id="roulette-3" class="roulette-4 roulette-item-box">
                            <div class="roulette-item-content">
                                <div class="img">
                                    <img src="views/follow/200M.png">
                                </div>
                                <div class="title">200MB流量</div>
                            </div>
                        </div>
                    </li>
                    <li class="roulette-item pure-u-1-3">
                        <div id="roulette-6" class="roulette-5 roulette-item-box">
                            <div class="roulette-item-content">
                                <div class="img">
                                    <img src="views/follow/1G.png">
                                </div>
                                <div class="title">1GB流量</div>
                            </div>
                        </div>
                    </li>
                    <li class="roulette-item pure-u-1-3">
                        <div id="roulette-5" class="roulette-6 roulette-item-box">
                            <div class="roulette-item-content">
                                <div class="img">
                                    <img src="views/follow/200M.png">
                                </div>
                                <div class="title">200MB流量</div>
                            </div>
                        </div>
                    </li>
                    <li class="roulette-item pure-u-1-3">
                        <div id="roulette-4" class="roulette-7 roulette-item-box">
                            <div class="roulette-item-content">
                                <div class="img">
                                    <img src="views/follow/500M.png">
                                </div>
                                <div class="title">500MB流量</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="roulette-tips pure-g">
            <div class="txt-l pure-u-1-2">剩余转盘机会：<span>2</span>次</div>
            <div class="txt-r pure-u-1-2">邀请好友获取更多次数 ></div>
        </div>

        <!--<p class="roulette-tips">恭喜你，获赠关注流量：<span>30M</span></p>-->
        <!--<div class="roulette-btn-wrap">
            <a class="roulette-btn" href="javascript:;" ng-click="overlayOpen = true">立即领取</a>
        </div>-->
        <!--<p class="follow-tips">提示：流量满30M，绑定手机号即可领取，一个手机号只能领取一次</p>-->

        <div ng-include="'views/include/profit/profit.html'"></div>
    </div>
    <app-dialog></app-dialog>
</div>

<div id="overlayAward" class="overlay-template" ng-class="{true:'overlay-open',false:''}[award.overlay]">
    <div class="overlay-hook">
        <div class="overlay">
            <div class="wrapper-heading">
                <div class="bind-dialog weui-dialog" ng-show="award.bind">
                    <div class="weui-dialog__hd"><strong class="weui-dialog__title">绑定手机，领取奖品</strong></div>
                    <div class="weui-dialog__bd">
                        <div class="pure-form pure-form-aligned">
                            <div class="pure-control-group">
                                <div class="pure-g">
                                    <input class="pure-u-1" placeholder="请输入手机号码">
                                </div>
                            </div>
                            <div class="pure-control-group">
                                <div class="pure-g">
                                    <div class="pure-u-3-5" style="text-align: left">
                                        <input class="pure-u-23-24" placeholder="请输入验证码">
                                    </div>
                                    <button type="submit" class="pure-u-2-5 pure-button">获取验证码</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="weui-dialog__ft">
                        <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary"
                           ng-click="bind()">立即领取</a>
                    </div>
                </div>
                <div class="award-dialog" ng-show="award.award">
                    <div class="img">
                        <img src="views/follow/awards-bg.png">
                    </div>
                    <div class="txt" style="color: #fff;margin-top: -0.95rem">
                        <p style="color: #ffdf4e">50M流量将会在72小时内充值到账，</p>
                        <p>请关注您的手机短信。参与<span style="color: #ffdf4e">[大家都在赚]</span>活动，</p>
                        <p>有机会免费获取更多流量哦~</p>
                    </div>
                    <a class="btn" href="javascript:;" ng-click="success()">我知道了</a>
                </div>
            </div>
        </div>
    </div>
</div>