.page.sign {
  .content-scrollable {
    background-color: #474e76;
  }
  .content-scrollable {
    background-image: url(views/activity/sign/sign-bg.png), linear-gradient(to bottom, #545b88, #3d4265 100%);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  h1.title {
    width: 65%;
    margin: 0.25rem auto 0.15rem;
    img {
      display: block;
      width: 100%;
    }
  }
  .coupon {
    margin: 0 0.1rem;
    img {
      display: block;
      width: 100%;
    }
  }
  .tips {
    text-align: center;
    color: #fff;
    font-size: 0.14rem;
    margin-top: 0.1rem;
    em {
      color: #ead310;
      font-style: normal;
    }
  }

  .btn-wrap {
    background: #de2f50;
    box-shadow: 0px 9px 16px #34457c;
    .btn {
      background: #fa4e4e;
      color: #fff;
    }
  }

  .sign-panel {
    padding: 0 0.07rem;
    .sign-lists {
      .sign-item {
        .card {
          box-shadow: 0px 5px 8px #34457c;
        }
        .btn-wrap {
          width: auto;
          display: block;
          margin: 0.12rem 0.07rem;
          .btn {
            line-height: 0.2rem;
          }
          &.checked {
            background: #aaaaaa;
            .btn {
              background: #d8d8d8;
            }
          }
        }
      }
    }
  }
  .user-status {
    margin: 0.1rem;
    .status-box {
      margin: 0.05rem;
      background: #6d76ab;
      font-size: 0.12rem;
      text-align: center;
      padding: 0.1rem;
      line-height: 0.2rem;
      border-radius: 0.06rem;
      .txt {
        line-height: 0.2rem;
        height: 0.2rem;
        .num {
          font-size: 0.16rem;
        }
        span {
          display: inline-block;
          vertical-align: baseline;
        }
        &:first-child {
          color: #fff;
        }
      }
      .btn {
        line-height: 0.2rem;
        margin-top: 0.07rem;
        background: none;
        border: 1px solid #fff;
        font-size: 0.12rem;
      }
    }
  }
}