<div class="page sign">
    <top-nav
            nav-item='{"visibility":false,"menu":false,"back":true,"share":false,"comment":false,"class":"black","title":"每周签到"}'></top-nav>
    <div class="content-scrollable">
        <h1 class="title"><img src="views/activity/sign/title.png"></h1>
        <div class="coupon">
            <img src="views/activity/sign/coupon.png">
        </div>
        <div class="tips">已累计签到：<em ng-bind="signInfo.signDaysCount"></em>次<span ng-show="signInfo.isSign == 1">，并免费获得<em>3</em>次转盘机会</span></div>
        <div class="btn-wrap circle" ng-class="{true:'checked',false:''}[signInfo.isSign == 1]">
            <a class="btn" href="javascript:;" ng-click="sign()" ng-show="signInfo.isSign != 1" user-tracker="sign">签到领流量</a>
            <a class="btn" href="javascript:;" ng-click="sign()" ng-show="signInfo.isSign == 1">本周已签到</a>
        </div>

        <div class="user-status">
            <div class="pure-g">
                <div class="pure-u-1-2">
                    <div class="status-box">
                        <div class="pure-u-3-5">
                            <div class="txt"><span class="num" ng-bind="userStatus.giveFlowNum"></span><span>M</span></div>
                            <div class="txt">当前账户流量</div>
                        </div>
                        <div class="pure-u-2-5">
                            <a class="btn small circle" ui-sref="exchange">去兑换</a>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1-2">
                    <div class="status-box">
                        <div class="pure-u-3-5">
                            <div class="txt">充值买一赠一</div>
                            <div class="txt">更多流量优惠</div>
                        </div>
                        <div class="pure-u-2-5">
                            <a class="btn small circle" ui-sref="recharge">去购买</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sign-panel" style="display: none">
            <div class="sign-lists owl-carousel owl-theme">
                <div class="sign-item item">
                    <div class="card checked">
                        <div class="hd">5元购机券</div>
                        <div class="bd">
                            <div class="img">
                                <img src="views/activity/sign/coupon-item.png">
                            </div>
                        </div>
                        <div class="ft">累计签到3次</div>
                        <div class="card-overlay" ng-show="signInfo.threeDay.isReceive == '1'">
                            <img src="views/activity/sign/checked.png">
                        </div>
                    </div>
                    <div class="btn-wrap circle small"
                         ng-class="{true:'checked',false:''}[signInfo.threeDay.isReceive == '1']"
                         ng-show="signInfo.signDaysCount >= 3">
                        <a class="btn" href="javascript:;" ng-click="getPrize(signInfo.threeDay,'threeDay')">
                            <span ng-show="signInfo.threeDay.isReceive == '1'">已领取</span>
                            <span ng-show="signInfo.threeDay.isReceive == '0'" user-tracker="receiver">立即领取</span>
                        </a>
                    </div>
                </div>
                <div class="sign-item">
                    <div class="card">
                        <div class="hd">10元购机券</div>
                        <div class="bd">
                            <div class="img">
                                <img src="views/activity/sign/coupon-item.png">
                            </div>
                        </div>
                        <div class="ft">累计签到5次</div>
                        <div class="card-overlay" ng-show="signInfo.fiveDay.isReceive == '1'">
                            <img src="views/activity/sign/checked.png">
                        </div>
                    </div>
                    <div class="btn-wrap circle small"
                         ng-class="{true:'checked',false:''}[signInfo.fiveDay.isReceive == '1']"
                         ng-show="signInfo.signDaysCount >= 5">
                        <a class="btn" href="javascript:;" ng-click="getPrize(signInfo.fiveDay,'sevenDay')">
                            <span ng-show="signInfo.fiveDay.isReceive == '1'">已领取</span>
                            <span ng-show="signInfo.fiveDay.isReceive == '0'" user-tracker="receiver">立即领取</span>
                        </a>
                    </div>
                </div>
                <div class="sign-item">
                    <div class="card">
                        <div class="hd">20元购机券</div>
                        <div class="bd">
                            <div class="img">
                                <img src="views/activity/sign/coupon-item.png">
                            </div>
                        </div>
                        <div class="ft">累计签到7次</div>
                        <div class="card-overlay" ng-show="signInfo.sevenDay.isReceive == '1'">
                            <img src="views/activity/sign/checked.png">
                        </div>
                    </div>
                    <div class="btn-wrap circle small"
                         ng-class="{true:'checked',false:''}[signInfo.sevenDay.isReceive == '1']"
                         ng-show="signInfo.signDaysCount >= 7">
                        <a class="btn" href="javascript:;" ng-click="getPrize(signInfo.sevenDay,'sevenDay')">
                            <span ng-show="signInfo.sevenDay.isReceive == '1'">已领取</span>
                            <span ng-show="signInfo.sevenDay.isReceive == '0'" user-tracker="receiver">立即领取</span>
                        </a>
                    </div>
                </div>
                <div class="sign-item">
                    <div class="card">
                        <div class="hd">50元购机券</div>
                        <div class="bd">
                            <div class="img">
                                <img src="views/activity/sign/coupon-item.png">
                            </div>
                        </div>
                        <div class="ft">累计签到10次</div>
                        <div class="card-overlay" ng-show="signInfo.tenDay.isReceive == '1'">
                            <img src="views/activity/sign/checked.png">
                        </div>
                    </div>
                    <div class="btn-wrap small circle"
                         ng-class="{true:'checked',false:''}[signInfo.tenDay.isReceive == '1']"
                         ng-show="signInfo.signDaysCount >= 10">
                        <a class="btn" href="javascript:;" ng-click="getPrize(signInfo.tenDay,'tenDay')">
                            <span ng-show="signInfo.tenDay.isReceive == '1'">已领取</span>
                            <span ng-show="signInfo.tenDay.isReceive == '0'" user-tracker="receiver">立即领取</span>
                        </a>
                    </div>
                </div>
                <div class="sign-item">
                    <div class="card">
                        <div class="hd">50元购机券</div>
                        <div class="bd">
                            <div class="img">
                                <img src="views/activity/sign/coupon-item.png">
                            </div>
                        </div>
                        <div class="ft">累计签到15次</div>
                        <div class="card-overlay" ng-show="signInfo.fifteenDay.isReceive == '1'">
                            <img src="views/activity/sign/checked.png">
                        </div>
                    </div>
                    <div class="btn-wrap small circle"
                         ng-class="{true:'checked',false:''}[signInfo.fifteenDay.isReceive == '1']"
                         ng-show="signInfo.signDaysCount >= 15">
                        <a class="btn" href="javascript:;" ng-click="getPrize(signInfo.fifteenDay,'twentyDay')">
                            <span ng-show="signInfo.fifteenDay.isReceive == '1'">已领取</span>
                            <span ng-show="signInfo.fifteenDay.isReceive == '0'" user-tracker="receiver">立即领取</span>
                        </a>
                    </div>
                </div>
                <div class="sign-item">
                    <div class="card">
                        <div class="hd">100元购机券</div>
                        <div class="bd">
                            <div class="img">
                                <img src="views/activity/sign/coupon-item.png">
                            </div>
                        </div>
                        <div class="ft">累计签到20次</div>
                        <div class="card-overlay" ng-show="signInfo.twentyDay.isReceive == '1'">
                            <img src="views/activity/sign/checked.png">
                        </div>
                    </div>
                    <div class="btn-wrap small circle"
                         ng-class="{true:'checked',false:''}[signInfo.twentyDay.isReceive == '1']"
                         ng-show="signInfo.signDaysCount >= 20">
                        <a class="btn" href="javascript:;" ng-click="getPrize(signInfo.twentyDay,'twentyDay')">
                            <span ng-show="signInfo.twentyDay.isReceive == '1'">已领取</span>
                            <span ng-show="signInfo.twentyDay.isReceive == '0'" user-tracker="receiver">立即领取</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div ng-include="'views/include/profit/profit.html'"></div>
    </div>
    <div class="weui-tabbar" ng-include="'views/include/footerNav/footerNav.html'"></div>
    <app-dialog></app-dialog>
</div>