.page.aWatch {
  .content-scrollable {
    background-image: url("views/activity/watch/30.jpg");
    background-size: 100% 100%;
    .nlogo {
      width: 30%;
      margin: 0.1rem;
    }
    .title {
      width: 70%;
      margin: 0 auto 0.1rem;
    }
    .red-bag {
      width: 100%;
      margin-top: -0.3rem;
    }
  }
}