<div class="page seckill">
    <top-nav
            nav-item='{"visibility":false,"menu":false,"back":true,"share":false,"comment":false,"class":"black","title":"每周秒杀"}'></top-nav>
    <div class="content-scrollable">
        <h1 class="title"><img src="views/seckill/title.png"></h1>
        <div class="notes">
            <div class="hd">
                <img style="width: 0.22rem;margin-right: 0.1rem;display: block" src="views/follow/volume-up.png">
            </div>
            <div class="bd">小小明 成功抢到 1元1G流量包！</div>
            <div class="ft">30秒前</div>
        </div>

        <div class="product">
            <div class="product-box">
                <div class="hd">
                    <img src="views/seckill/1GB.png">
                </div>
                <div class="bd">
                    <div class="tit">【周三秒杀】1元1G 流量包<br>（全国3网通用），限量100份</div>
                    <div class="old-price">原价：¥99</div>
                    <div class="new-price pure-g">
                        <div class="price pure-u-2-3"><span>限时抢购：</span><em>￥1</em></div>
                        <div class="store pure-u-1-3"><span>剩余：</span><span style="color: #cf2129">18</span></div>
                    </div>
                </div>
            </div>
            <div class="content-overlay">
                <div class="txt">已抢光</div>
            </div>
        </div>
        <div class="countdown"><div class="label">结束倒计时：</div><timer></timer></div>
        <div class="btn-wrap circle">
            <div class="btn">立即抢购</div>
        </div>

        <h1 class="title" style="margin: 0.4rem auto 0.05rem auto;width: 43%"><img src="views/seckill/title2.png"></h1>

        <div class="next-panel">
            <ul class="next-lists pure-g">
                <li class="next-item pure-u-1-4">
                    <div class="dot"></div>
                    <div class="card checked">
                        <div class="hd">50元购机券</div>
                        <div class="bd">
                            <div class="img">
                                <img src="views/sign/item-4.png">
                            </div>
                        </div>
                        <div class="ft">11月1日</div>
                        <div class="card-overlay">
                            <img src="views/sign/checked.png">
                        </div>
                    </div>
                </li>
                <li class="next-item pure-u-1-4">
                    <div class="dot"></div>
                    <div class="card">
                        <div class="hd">50元购机券</div>
                        <div class="bd">
                            <div class="img">
                                <img src="views/sign/item-4.png">
                            </div>
                        </div>
                        <div class="ft">11月8日</div>
                        <div class="card-overlay">
                            <img src="views/sign/checked.png">
                        </div>
                    </div>
                </li>
                <li class="next-item pure-u-1-4">
                    <div class="dot"></div>
                    <div class="card">
                        <div class="hd">50元购机券</div>
                        <div class="bd">
                            <div class="img">
                                <img src="views/sign/item-4.png">
                            </div>
                        </div>
                        <div class="ft">11月15日</div>
                        <div class="card-overlay">
                            <img src="views/sign/checked.png">
                        </div>
                    </div>
                </li>
                <li class="next-item pure-u-1-4">
                    <div class="dot"></div>
                    <div class="card">
                        <div class="hd">50元购机券</div>
                        <div class="bd">
                            <div class="img">
                                <img src="views/sign/item-4.png">
                            </div>
                        </div>
                        <div class="ft">11月22日</div>
                        <div class="card-overlay">
                            <img src="views/sign/checked.png">
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="btn-wrap circle">
            <div class="btn">下期预约提醒</div>
        </div>

        <div class="rule-list">
            <div class="rule-tit"><span>活动规则</span></div>
            <dl class="rule-txt">
                <dt>1</dt>
                <dd><p class="tit">秒杀活动时间为每周三。</p></dd>
            </dl>
            <dl class="rule-txt">
                <dt>2</dt>
                <dd>
                    <p class="tit">秒杀活动的产品为限量供应，先到先得。</p>
                </dd>
            </dl>
            <dl class="rule-txt">
                <dt>3</dt>
                <dd>
                    <p class="tit">每位用户只可购买1份。</p>
                </dd>
            </dl>
            <dl class="rule-txt">
                <dt>4</dt>
                <dd>
                    <p class="tit">秒杀产品支付时限为30分钟，超时不支付，产品将重新放回秒杀场，供其他用户进行秒杀。</p>
                </dd>
            </dl>
            <dl class="rule-txt">
                <dt>5</dt>
                <dd>
                    <p class="tit">秒杀活动最终解释权由xxxxxxxxxxx所有。</p>
                </dd>
            </dl>
        </div>
    </div>
    <div class="red-ad">
        <img src="views/red/ad.png">
    </div>
    <app-dialog></app-dialog>
</div>