<div ng-show="adShow" class="ad animated" ng-class="{true:'bounceInLeft',false:'bounceOutRight'}[adShow]">
    <div class="weui-cells">

        <a class="weui-cell" href="javascript:;">
            <div class="weui-cell__hd"><img src="components/ad/ad-icon.png" alt="" style="width:12px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
                <p>周三秒杀，超级优惠，<span ng-bind="ad.activity_name"></span>仅需<span ng-bind="ad.price"></span>元！</p>
            </div>
            <div class="weui-cell__ft" ng-click="adShow=false"><img src="components/ad/ad-close.png" alt="" style="width:12px;display:block"></div>
        </a>
    </div>
</div>